* {
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden; 
  font-family: system-ui, sans-serif;
}

body {
  display: flex;
  min-height: 100vh;
}

/* Lado esquerdo*/
.lado-esquerdo {
  color: #ddd;
  width: 43%;
  height: 100vh;
  box-sizing: border-box; 
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  /* background: #2f1f09; */
  overflow: hidden; 
  background: linear-gradient(135deg, #483003, #150e01, #2f1f09, #2f1f09);
  background-size: 300% 300%;
  animation: fadeCores 10s ease infinite;

  overflow: hidden;
}

@keyframes fadeCores {
  0%   { background-position: 0% 50%; }
  50%  { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.titulo {
  margin-bottom: 4px;
  font-size: 32px;
}

.descSorteador {
  margin-bottom: 30px;
  font-size: 19px;
  font-weight: 150;
}

#imagem {
  width: 350px;
  height: 480px;
  max-height: calc(100vh - 180px); 
  object-fit: center;
  object-position: center;
  border-radius: 5px;
  background: #ddd;
  margin-bottom: 20px;
  display: block;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.25);
}

button {
  padding: 10px 30px;
  font-size: 20px;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  background: black;
  color: white;
  box-shadow: 0 4px 12px rgba(0,0,0,0.4); 
  transition: 0.25s ease; 
}

#botaoSortear:hover {
  background: white;    
  color: black;          
  transform: translateY(-2px); 
  box-shadow: 0 6px 18px rgba(0,0,0,0.45);
}

/* lado direito */
.lado-direito {
  background-image: url("imgs/bg-direito.jpg");
  flex: 1;
  height: 100vh;
  position: relative;
  background-size: cover;
  background-position: center;
  overflow: hidden; 
}

@keyframes bgEntradaSuave {
  0% {
    opacity: 0;
    filter: blur(20px);
    transform: translateX(50px);
  }
  60% {
    opacity: 1;
    filter: blur(4px);
    transform: translateX(0);
  }
  80% {
    transform: translateX(-4px);
  }
  100% {
    filter: blur(0);
    transform: translateX(0);
  }
}

.bg-animacao {
  animation: bgEntradaSuave 0.9s ease-out forwards;
}

/* Card info */
.card-info {
  position: absolute;
  right: 180px;
  top: 50%;
  transform: translateY(-50%);
  width: 500px;
  height: 430px;
  background: rgba(255,255,255,0.95);
  padding: 26px;
  border-radius: 8px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.12);
}

.card-info,
.cardInicial {
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25); 
  border-radius: 12px;
}

.oculto {
  display: none;
}

.card-info h2 {
  margin-bottom: 10px;
  font-size: 28px;
}

.fadeIn {
  opacity: 0;
  transform: translateY(-10px);
  animation: aparecer 0.5s ease-out forwards;
}

@keyframes aparecer {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
